@use "common-values.scss";

body {
	overflow: auto;
	color: rgb(51, 51, 51);
	font-feature-settings: "kern";
	font-kerning: normal;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
	text-transform: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.btn.btn-link.p-0.u-text-decoration-none {
	padding-bottom: 2px !important;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

#navbar {
	background-color: white;
	border-bottom: 1px solid #e7e7e7;

	.navbar-header {

		text-decoration: none !important;

		.navbar-brand img.logo {
			width: 100px;
            height: 42px;
		}
	}
}

.container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}


.ag-header-group-cell .ag-header-cell-comp-wrapper-limited-height {
  justify-content: center;
}

.ag-theme-material {

  $odd-cell-background-color:  #cee5ff;

  .ag-header-cell {
    background-color: red;
  }


  .ag-row-odd {
    background-color: $odd-cell-background-color !important;
  }

  .ag-row-odd.ag-row-hover  {
    background-color: $odd-cell-background-color !important;
  }

  .ag-row-even.ag-row-hover  {
    background-color: white !important;
  }

  .ag-header-cell-label {
    font-weight: 500;
    font-style: normal;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }

  .total-row {
    font-weight: bold;
    background-color: #f4f4f4;
  }

  .ag-header {
    min-height: 40px !important;
  }

  .ag-header-active {
    background-color: white !important;
  }

}